body
{
}
.Indent-Highlight
{
height:373px;
width:958px;
position:absolute;
left:170px;
top:263px;
opacity:0.5;
z-index:1;
}
.Indent-Shadow
{
height:373px;
width:958px;
position:absolute;
left:170px;
top:263px;
opacity:0.5;
z-index:2;
}
.Dots
{
height:87px;
width:230px;
position:absolute;
left:678px;
top:395px;
opacity:1.0;
z-index:1;
}
.Breaks
{
height:101px;
width:434px;
position:absolute;
left:673px;
top:388px;
opacity:1.0;
z-index:2;
}
.Sitemap
{
margin:0;
position: absolute;
left:916px;
top: 462px;
/*color: #FFFFFF;*/
opacity: 1.0;
text-align: LEFT;
font-family:Edmondsans-Bold;
font-size:11px;
z-index:18;
}
.FAQ
{
margin:0;
position: absolute;
left:916px;
top: 442px;
/*color: #FFFFFF;*/
opacity: 1.0;
text-align: LEFT;
font-family:Edmondsans-Bold;
font-size:11px;
z-index:17;
}
.Privacy-Policy
{
margin:0;
position: absolute;
left:916px;
top: 422px;
/*color: #FFFFFF;*/
opacity: 1.0;
text-align: LEFT;
font-family:Edmondsans-Bold;
font-size:11px;
z-index:16;
}
.Terms-and-Conditions
{
margin:0;
position: absolute;
left:916px;
top: 402px;
/*color: #FFFFFF;*/
opacity: 1.0;
text-align: LEFT;
font-family:Edmondsans-Bold;
font-size:11px;
z-index:15;
}
.Get-in-Touch
{
margin:0;
position: absolute;
left:693px;
top: 482px;
/*color: #FFFFFF;*/
opacity: 1.0;
text-align: LEFT;
font-family:Edmondsans-Bold;
font-size:11px;
z-index:14;
}
.Blog
{
margin:0;
position: absolute;
left:693px;
top: 462px;
/*color: #FFFFFF;*/
opacity: 1.0;
text-align: LEFT;
font-family:Edmondsans-Bold;
font-size:11px;
z-index:13;
}
.Portfolio
{
margin:0;
position: absolute;
left:693px;
top: 442px;
/*color: #FFFFFF;*/
opacity: 1.0;
text-align: LEFT;
font-family:Edmondsans-Bold;
font-size:11px;
z-index:12;
}
.About-Us-
{
margin:0;
position: absolute;
left:693px;
top: 422px;
/*color: #FFFFFF;*/
opacity: 1.0;
text-align: LEFT;
font-family:Edmondsans-Bold;
font-size:11px;
z-index:11;
}
.Home-Page-
{
margin:0;
position: absolute;
left:693px;
top: 402px;
/*color: #FFFFFF;*/
opacity: 1.0;
text-align: LEFT;
font-family:Edmondsans-Bold;
font-size:11px;
z-index:10;
}
.text31
{
margin:0;
position: absolute;
left:673px;
top: 347px;
/*color: #FFFFFF;*/
opacity: 1.0;
text-align: LEFT;
height: 94.5494918823242px;
width: 433px;
font-family:Edmondsans-Regular;
font-size:11px;
z-index:9;
}
.Arrow
{
height:22px;
width:14px;
position:absolute;
left:1010 px;
top:664 px
opacity:1.0;
z-index:2;
}
.Search-Break
{
height:17px;
width:5px;
position:absolute;
left:1039 px;
top:591 px
opacity:1.0;
z-index:3;
}
.SEARCH-HOVER
{
margin:0;
position: absolute;
left:1068px;
top: 603px;
color: #FFFFFF;
opacity: 1.0;
text-align: CENTER;
font-family:Edmondsans-Bold;
font-size:12px;
z-index:45;
}
.SEARCH
{
margin:0;
position: absolute;
left:1068px;
top: 603px;
color: #FFFFFF;
opacity: 1.0;
text-align: CENTER;
font-family:Edmondsans-Bold;
font-size:12px;
z-index:44;
}
.Search-Bar
{
height:24px;
width:233px;
position:absolute;
left:874 px;
top:587 px
opacity:1.0;
z-index:6;
}
.A-SHINY-METALLIC-ONE
{
margin:0;
position: absolute;
left:419px;
top: 565px;
color: #FFFFFF;
opacity: 1.0;
text-align: CENTER;
font-family:Edmondsans-Bold;
font-size:12px;
z-index:50;
}
.404-Highlight
{
height:101px;
width:421px;
position:absolute;
left:206 px;
top:323 px
opacity:1.0;
z-index:5;
}
.404
{
height:307px;
width:574px;
position:absolute;
left:134 px;
top:264 px
opacity:1.0;
z-index:6;
}
.text53
{
height:17px;
width:300px;
position:absolute;
left:270 px;
top:532 px
opacity:1.0;
z-index:7;
}
.Indent
{
height:385px;
width:970px;
position:absolute;
left:165 px;
top:259 px
opacity:1.0;
z-index:8;
}
.Orange
{
height:900px;
width:1300px;
position:absolute;
left:0 px;
top:0 px
opacity:1.0;
z-index:5;
}
.Green
{
height:900px;
width:1300px;
position:absolute;
left:0 px;
top:0 px;
opacity:1.0;
z-index:6;
}
.Blue
{
height:900px;
width:1300px;
position:absolute;
left:0 px;
top:0 px;
opacity:1.0;
z-index:7;
}
.Grey
{
height:900px;
width:1300px;
position:absolute;
left:0 px;
top:0 px;
opacity:1.0;
z-index:8;
}
