body
{
width:100%;
}
.text3
{
margin:0;
position: absolute;
left:268px;
top:437px;
color: #001F48;
opacity: 1.0;
text-align:  left;
height: 160.136123657227px;
width: 276.121459960938px;
font-family: AdobeMingStd-Light;
font-size: 18px;
z-index:3;
}
.This-is-my-nation
{
margin:0;
position: absolute;
left:83px;
top:138px;
color: #001F48;
opacity: 1.0;
text-align:  left;
font-family: AdobeMingStd-Light;
font-size: 48px;
z-index:2;
}
